{% extends 'core/base.html' %}
{% load static %}

{% block stylesheet %}
    <link href="{% static 'core/css/forms.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1 style="color: blue !important; font-weight: bolder;">Aires Acondicionados Buenos Aires</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="mx-auto col-sm-12 col-md-6 col-lg-6 col-xl-6 ficha_auto_recuadro">
                <img src="/media/{{ producto.imagen }}" class="ficha_auto_imagen" alt="">
            </div>
            <div class="mx-auto col-sm-12 col-md-6 col-lg-6 col-xl-6 ficha_datos_recuadro">
                <h2>
                    Producto: {{ producto.nomprod }}<br><br>
                </h1>
                <h4>
                    ID: {{ producto.idprod }} Descripción: {{ producto.descprod }}
                </h4>
                <br>
                <h4>
                    Precio CLP: <br>${{ producto.precio }}
                </h4>
                <br>
                <h4>
                    Precio USD: <br>$ {{ conv_usd }}

                </h4>
                <br>

                {% if user.is_authenticated and tipousu == "Cliente" %}
                <form method="POST">
                    <input type="submit" class="btn btn-primary" value="Comprar">
                    {% if mesg %}
                        <div id="form_message" class="alert alert-danger" role="alert">{{ mesg }}</div>
                    {% endif %}
                </form>
                {% endif %}
            </div>
        </div>
    </div>
    <div style="margin-top: 20px; text-align: center;">
        <a href="{% url 'tienda' %}" class="btn btn-info btn-sm">Ir a la tienda</a>&nbsp;&nbsp;&nbsp;
    </div>
{% endblock content %}
